.rating {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0;

  & > label {
    margin-right: 4px;
  }

  &:not(:checked) > input {
    display: none;
  }

  &:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
  }

  &:not(:checked) > label > svg {
    fill: #666;
    transition: fill 0.3s ease;
  }

  & > input:checked ~ label > svg {
    fill: #ffa723;
  }

  &:not(:checked) > label:hover ~ label > svg,
  &:not(:checked) > label:hover > svg {
    fill: #ff9e0b;
  }

  // Readonly state
  &--readonly {
    pointer-events: none;

    label {
      cursor: default !important;
    }
  }

  // Hide all radio inputs
  input[type="radio"] {
    display: none;
  }

  label {
    display: inline-block;
    float: right;
    cursor: pointer;
  }

  // Star 1 specific colors
  #star1:hover ~ label > svg,
  #star1:hover > svg {
    fill: #a23c3c !important;
  }

  #star1:checked ~ label > svg {
    fill: #ef4444;
  }

  // Star 2 specific colors
  #star2:hover ~ label > svg,
  #star2:hover > svg {
    fill: #99542d !important;
  }

  #star2:checked ~ label > svg {
    fill: #e06c2b;
  }

  // Star 3 specific colors
  #star3:hover ~ label > svg,
  #star3:hover > svg {
    fill: #9f7e18 !important;
  }

  #star3:checked ~ label > svg {
    fill: #eab308;
  }

  // Star 4 specific colors
  #star4:hover ~ label > svg,
  #star4:hover > svg {
    fill: #22885e !important;
  }

  #star4:checked ~ label > svg {
    fill: #19c37d;
  }

  // Star 5 specific colors
  #star5:hover ~ label > svg,
  #star5:hover > svg {
    fill: #7951ac !important;
  }

  #star5:checked ~ label > svg {
    fill: #ab68ff;
  }
}
