:root {
  font-family: "Inter", sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVariable", sans-serif;
  }
}

.headerComponent {
min-height: 40px;
padding: 0px;
text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Playfair Display', serif;
}


